


<style

body {
  background-color: #fff;
  color: #333;
  font:
    1.2em / 1.5 Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  padding: 50;
  margin: 0;
}

.container {
  border: 2px solid rgb(75, 70, 74);
  border-radius: 0.5em;
  padding: 20px;
  width: 200px;
  display: inline-table;
  grid-template-columns: 1fr 1fr;
}

.container > * {
  padding: 10px;
  border: 2px solid rgb(95, 97, 110);
  border-radius: 0.5em;
  margin: 0;
}


.myphoto {
  display: contents;
}
